<%layout("/layouts/boilerplate.ejs")%>

<div class="w-full flex flex-col justify-center items-center px-3 sm:py-0">
  <form
    method="post"
    action="/listings/<%=listing._id%>/edit?_method=PATCH"
    class="w-full sm:w-1/2"
  >
    <div class="mb-3">
      <label for="title" class="text-lg md:text-2xl">Title</label>
      <input
        type="text"
        value="<%=listing.title%>"
        placeholder="Enter Title"
        id="title"
        name="title"
        class="border rounded-md w-full p-1 outline-none"
        required
      />
    </div>
    <div>
      <label for="description" class="text-lg md:text-2xl">Description</label>
      <textarea
        type="text"
        placeholder="Enter Description"
        id="description"
        name="description"
        class="border rounded-md w-full p-1 outline-none"
        required
      >
<%=listing.description%></textarea
      >
    </div>
    <div class="mb-3">
      <label for="image" class="text-lg md:text-2xl">Image</label>
      <input
        type="text"
        placeholder="Upload Image"
        value="<%=listing.image%>"
        id="image"
        name="image"
        class="border rounded-md w-full p-1 outline-none"
        required
      />
    </div>
    <div class="md:flex justify-between gap-2">
      <div class="mb-3">
        <label for="location" class="text-lg md:text-2xl">Location</label>
        <input
          type="text"
          value="<%=listing.location%>"
          placeholder="Enter Location"
          id="location"
          name="location"
          class="border rounded-md w-full p-1 outline-none"
          required
        />
      </div>
      <div class="mb-3">
        <label for="state" class="text-lg md:text-2xl">State</label>
        <input
          type="text"
          value="<%=listing.state%>"
          placeholder="Enter State"
          id="state"
          name="state"
          class="border rounded-md w-full p-1 outline-none"
          required
        />
      </div>
    </div>
    <div class="md:flex justify-between gap-2">
      <div class="mb-3">
        <label for="price" class="text-lg md:text-2xl">Price</label>
        <input
          type="number"
          value="<%=listing.price%>"
          placeholder="Enter Price"
          id="price"
          name="price"
          class="border rounded-md w-full p-1 outline-none"
          required
        />
      </div>
      <div class="mb-3">
        <label for="country" class="text-lg md:text-2xl">Country</label>
        <input
          type="text"
          placeholder="Enter Country"
          value="India"
          id="country"
          name="country"
          class="border rounded-md w-full p-1 outline-none"
          disabled
          required
        />
      </div>
    </div>
    <button
      class="px-3 py-2 bg-[#2FA84F] text-white rounded-lg active:scale-90"
    >
      Submit
    </button>
  </form>
</div>
